@charset "Shift_JIS";
/* Purple - sub contents */ 
/* サブコンテンツ用スタイル */

/* 1999～2000 Piro */
/* http://piro.sakura.ne.jp/ */

@import url(../system/html.css);
@import url(../system/system.css);
@import url(common.css);
	
/* Heading Section */ 
/* 見出し */
	
h1 
{
	font-size: 1.6em;
	font-weight: normal;
	margin: 0.4em 0 0 -6%;
	border-top-width: 1px;
	padding: 0.5em 0 0 1ex;
	height: 105px;
	min-height: 105px;
}
 
h2 
{
	font-size: 1.3em;
	font-weight: normal;
	margin: 3.5em 0 1.5em;
	padding: 5px 10% 5px 5px;
	border-bottom-width: 1px;
}
	
#section-root-children h2:first-child 
{
	margin-top: 0.6em;
}
  
h3 
{
	font-size: 1.15em;
	padding: 0.2em 2em 0.2em 0.2em;
	margin: 2.8em 10% 1em 0;
	border-bottom-width: thin;
}
 
h4 
{
	font-size: medium;
	padding: 0.2em;
	margin: 2.4em 20% 1em 0.2em;
	border-width: 1px 0 0 1px;
}
 
h5 
{
	margin-left: 0.5em;
	padding-left: 0.5em;
	border-left: dotted 0.5em;
}
 
h1 .sub 
{
	display: block;
	font-size: medium;
	border-bottom-width: 1px;
	margin: 0 5% 0.5em -0.3em;
}
 
ul h1,ol h1,dl h1, 
ul h2,ol h2,dl h2,
ul h3,ol h3,dl h3,
ul h4,ol h4,dl h4,
ul h5,ol h5,dl h5,
ul h6,ol h6,dl h6
{
	position: static;
	margin: 1em 0;
}
 
/* Counter */ 
	
h2:before 
{
	content: counter(h2num) ". ";
}
 
h3:before 
{
	content: counter(h2num) "." counter(h3num) ". ";
}
 
h4:before 
{
	content: counter(h2num) "." counter(h3num) "." counter(h4num) ". ";
}
 
h5:before 
{
	content: counter(h2num) "." counter(h3num) "." counter(h4num) "." counter(h5num) ". ";
}
 
h6:before 
{
	content: counter(h2num) "." counter(h3num) "." counter(h4num) "." counter(h5num) "." counter(h6num) ". ";
}
 
.note h1:before, .example h1:before, .column.h1:before, 
.note h2:before, .example h2:before, .column.h2:before,
.note h3:before, .example h3:before, .column.h3:before,
.note h4:before, .example h4:before, .column.h4:before,
.note h5:before, .example h5:before, .column.h5:before,
.note h6:before, .example h6:before, .column.h6:before
{
	content: "";
}
   
/* Main Section */ 
	
#section-root 
{
	margin: 1ex;
	padding-bottom: 1em;
	z-index: 10;
	border-top-width: 1px;
}
 
#section-root #section-root-content 
{
	margin: 1em 0 1em 3%;
	border-left-width: 3px;
	padding: 0.5em 6% 1em 6%;
}
 
#section-root #section-root-children 
{
	margin: 0 0 1em 4%;
	border-left-width: 2px;
	padding: 0.8em 6% 1em 6%;
}
 
dd 
{
	font-size: 90%;
}
  
/* Logs */ 
	
.Logs h3 
{
	border-width: 0 0 1px 0;
}
 
.Logs h4 
{
	border: 0;
	font-size: medium;
	padding-left: 20px;
	background: url(./img/li01.gif) no-repeat 0 50%;
}
   
/* Color Setting */ 

	
h1 
{
	background: url(./img/triangle01.png) no-repeat 0 3px;
}
 
h2 
{
	background: url(./img/triangle02.png) no-repeat 0 100%;
	border-color: #DBCEFF;
}
  
