<html xmlns:ng="http://angularjs.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"
	ng:autobind></script>
</head>
<body ng-app>
	<a href="http://blog.livedoor.jp/kotesaki/archives/1738808.html">ref</a>
	<hr>
	<div ng-controller="controller">
		Search: <input type="text" name="query">
		<hr />
		<form ng:submit="set()">
			name:<input type="text" ng-model="name"><br> age:<input
				type="text" ng-model="age"><br> <input type="submit"
				value="add">
		</form>
		<hr>
		動作していない
		<table ng:repeat="person in persons$filter(query)">
			<tr>
				<td>{{person.name}}</td>
				<td>{{person.age}}</td>
			</tr>
		</table>
		<hr>
		<table ng:repeat="person in persons">
			<tr>
				<td>{{person.name}}</td>
				<td>{{person.age}}</td>
			</tr>
		</table>
	</div>
	<script>
		var controller = function($scope) {
			var self = this;
			$scope.persons = [ {
				'name' : 'ken',
				'age' : 39
			}, {
				'name' : 'yu',
				'age' : 4
			}, {
				'name' : 'ou',
				'age' : 7
			} ];

			$scope.set = function(e) {

				console.log($scope.name + ":" + $scope.age);


				$scope.persons.push({
					'name' : $scope.name,
					'age' : $scope.age
				});
				$scope.name = $scope.age = '';
			}
		};
	</script>
</body>
</html>